@use "sass:map";
@use "libreria";

$map: (
    "principal": red,
    "error": green,
    "info": blue
);

@debug map-get($map, "principal");
a {
    color: map-get($map, "principal");
}

@each $name, $var in $map {
    a.#{$name} {
        color: $var;
    }   
}
@each $name, $var in $map {
    .btn-#{$name} {
        background-color: $var;
    }   
}

// map.set($map, "principal", greenyellow);
// map-merge($map, ("otro": 212));

@debug map-get($map, "principal");

$font-weights: ("regular": 400, "medium": 500, "bold": 700);

@debug map.set($font-weights, "medium", 4500); // 500
@debug map.get($font-weights, "extra-bold");
@debug libreria.$variable;
@debug map.get($font-weights, "medium");